<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
	<!-- execute job class -->
	<bean id="testJob" class="com.letv.leAcs.worker.TestJob"/>
	
	<!-- class and method -->
	<bean id="testJobTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- class -->
		<property name="targetObject">
			<ref bean="testJob" />
		</property>
		<!-- method -->
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	
	<!-- job time -->
	<bean id="doTestJobTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="testJobTask" />
		</property>
		<!-- cron time -->
		<property name="cronExpression">
			<value>${springmvc-simple.quartz.testJob}</value>
		</property>
	</bean>
	
	<!-- start job, if set lazy-init='false', the job will be running where the project start  -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="doTestJobTime" />
			</list>
		</property>
	</bean>

</beans>