<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>  
              <servlet-name>report</servlet-name>  
              <servlet-class>com.test.TableServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>report</servlet-name>  
              <url-pattern>/report</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServlet</servlet-name>  
              <servlet-class>com.test.AjaxServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServlet</servlet-name>  
              <url-pattern>/AjaxServlet</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServlet2</servlet-name>  
              <servlet-class>com.test.AjaxServlet2</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServlet2</servlet-name>  
              <url-pattern>/AjaxServlet2</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServlet3</servlet-name>  
              <servlet-class>com.test.AjaxServlet3</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServlet3</servlet-name>  
              <url-pattern>/AjaxServlet3</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServlet4</servlet-name>  
              <servlet-class>com.test.AjaxServlet4</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServlet4</servlet-name>  
              <url-pattern>/AjaxServlet4</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServlet5</servlet-name>  
              <servlet-class>com.test.AjaxServlet5</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServlet5</servlet-name>  
              <url-pattern>/AjaxServlet5</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServletXml</servlet-name>  
              <servlet-class>com.test.AjaxServletXml</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServletXml</servlet-name>  
              <url-pattern>/AjaxServletXml</url-pattern>  
    </servlet-mapping>  
	<servlet>  
              <servlet-name>AjaxServletJson</servlet-name>  
              <servlet-class>com.test.AjaxServletJson</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>AjaxServletJson</servlet-name>  
              <url-pattern>/AjaxServletJson</url-pattern>  
    </servlet-mapping>  
    <servlet>
		<servlet-name>validateCodeServlet</servlet-name>
		<servlet-class>com.test.ValidateCodeServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>validateCodeServlet</servlet-name>
		<url-pattern>*.images</url-pattern>
	</servlet-mapping>
    
	<servlet>  
              <servlet-name>DisplayChart</servlet-name>  
              <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>  
    </servlet>  
    <servlet-mapping>  
              <servlet-name>DisplayChart</servlet-name>  
              <url-pattern>/DisplayChart</url-pattern>  
    </servlet-mapping>  
</web-app>
