<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/erpbase.css')" media="all">
<script type="text/javascript" src="#springUrl('/static/js/jquery-1.js')"></script>
</head>
<body id="leftframe">
<div id="lsidebar">
  <dl>
	<dt><a href="#" class="curr">查询</a></dt>
	<dd><a href="#springUrl('/user/list')" target="mainFrame">测试用户示例</a></dd>
  </dl>
</div>
<div id="control" class="control" jQuery1328083232241="11"></div>

<script type="text/javascript">
    (function() {
        $('dd').hide();
        showMenu($("#lsidebar .curr"));
        $("#lsidebar dt a").bind("click", function() {
            hideMenu($("#lsidebar .curr"));
            showMenu($(this));
        });

        $("#control").bind("click", function() {
            parent.document.getElementsByTagName('frameset')[1].cols = (parent.document.getElementsByTagName('frameset')[1].cols == '10,*') ? '189,*' : '10,*';
            document.getElementById('lsidebar').style.display = (document.getElementById('lsidebar').style.display == 'none') ? '' : 'none';
            document.getElementById('control').className = (document.getElementById('control').className == 'control') ? 'control switch' : 'control';
        });
    })()

    function showMenu(obj) {
        obj.addClass('curr');
        obj.parent().nextUntil('dt').slideDown('fast');
    }
    function hideMenu(obj) {
        obj.removeClass('curr');
        obj.parent().nextUntil('dt').slideUp('fast');
    }

</script>

</body>
</html>